@mixin app-current-weather {
  app-current-weather {
    border: none;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-weight: 700;
    color: grey;

    h1 {
      margin-bottom: 0px
    }

    .date,
    .temperature {
      margin:0;
    }
  }
}

